﻿@model IEnumerable<TariffTrade.Common.Models.Descriptions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Countries.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hierarchy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Countries.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hierarchy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DescriptionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DescriptionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DescriptionId })
        </td>
    </tr>
}

</table>
